html,
body {
    height: 100%;
    margin: 0;
}

body>* {
    width: 50%;
    height: 100%;
}

div.editor {
    display: inline-block;
}

div.editor textarea {
    width: 100%;
    height: 100%;

    margin: 0;
    border-width: 0;
    padding: 0;

    resize: none;
}