/* Basic element styles */

html {
    font-family: sans-serif;
}

a {
    color: unset;
}

ol {
    list-style-type: none;

    margin: 0;
    padding: 0;
}

address {
    font-style: unset;
}


/* Mostly Tailwind-compatible utility classes */

.col-1 {
    grid-column: 1;
}

.col-2 {
    grid-column: 2;
}

.font-bold {
    font-weight: 700;
}

.grid {
    display: grid;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.italic {
    font-style: italic;
}

.justify-self-end {
    justify-self: end;
}

.justify-self-start {
    justify-self: start;
}

.m-8 {
    margin: 2rem;
}

.my-4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.my-16 {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.max-w-fit {
    max-width: fit-content;
}

.max-w-xl {
    max-width: 36rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.p-2 {
    padding: 0.5rem;
}

.text-blue-700 {
    color: rgb(29 78 216);
}

.text-lg {
    font-size: 1.125rem;
}

.text-sm {
    font-size: 0.875rem;
}

.w-1\/2 {
    width: 50%;
}


/* Rules for tool-generated HTML code */

.prose a {
    /* Tailwind's `text-blue-700` */
    color: rgb(29 78 216);
}

.prose img {
    max-width: 100%;
}

.prose video {
    max-width: 100%;
}